.container {
    max-width: 180px;
    height: 15rem;
    flex-shrink: 0;
    scroll-snap-align: start;
    overflow: hidden;
    display: flex;
  }

.container * {
  pointer-events: none;
}
  

.container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.overlay-category-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    text-shadow: 0px 0px 4px black;
  }
  

