.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 1rem;
    gap: 0.1em;
    max-width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    background-color: #fff;
    text-align: center;
}

.product-card:hover {
    box-shadow: 1px 1px 1px gray;
    transform: scale(1.02);
    border-radius: 20px;
}

.product-img {
    max-width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  

.price-tag {
    font-weight: bold;
}

.add-to-cart:hover {
    opacity: .9;
}