.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending-img {
    width: 100%;
    margin: 2rem 0px auto;
    object-fit: cover;
}

.title {
    position: absolute;
    top: 25%;
    left: 8%;
    font-size: 4rem;
    width: 40%;
    color: #556B2F;
}

.overlay-text {
    position: absolute;
    left: 8%;
    top: 55%;
    color: white;
    font-size: 1.5rem;
    width: 40%;
}

.overlay-btn {
    position: absolute;
    left: 11%;
    top: 75%;
    transform: scale(1.5);
}

hr {
    width: 10%;
    height: 3px;
    background-color: #556B2F;
    border: none;
}

.category-title {
    margin: 2% auto;
    font-size: 2rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }
  

@media (max-width: 768px) {
    .title {
      font-size: 3rem;
    }

    .overlay-text {
      font-size: 1rem;
    }
  
    .overlay-btn {
      transform: scale(1);
    }
  }